
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #FFFDEA;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #464032;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #A42903;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #A7430F;
}

a:hover {
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header {
	width: 960px;
	height: 148px;
	margin: 0 auto;
}

/* Logo */

#logo {
	float: left;
	height: 90px;
	margin: 0;
	padding-top: 50px;
	background: url(images/img02.jpg) no-repeat left 20px;
	color: #000000;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	float: left;
	padding-left: 120px;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 3.8em;
}

#logo p {
	float: left;
	margin: 0;
	padding: 26px 0 0 10px;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #5E4E38;
} 

#logo p a {
	color: #5E4E38;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #A83A01;
}

/* Search */

#search {
	float: right;
	width: 280px;
	height: 60px;
	padding: 20px 0px 0px 0px;
	background: #E9E3CB;
	border-bottom: 4px solid #FFFFFF;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 20px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 170px;
	padding: 6px 5px 2px 5px;
	border: none;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #464032;
}

#search-submit {
	width: 50px;
	height: 23px;
	border: 1px solid #AC9A79;
	background: #AC9A79;
	font-weight: bold;
	font-size: 10px;
	color: #FFFFFF;
}

/* Menu */

#menu {
	width: 1040px;
	height: 36px;
	margin: 0 auto;
	padding: 0;
	background: url(images/img01.jpg) no-repeat left top;
}

#menu ul {
	margin: 0px 0px 0px 10px;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	height: 26px;
	margin-bottom: 10px;
	padding: 10px 20px 0px 20px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	background: #E0D3B3;
	text-decoration: none;
}

#menu .current_page_item a {
	background: #E0D3B3;
	color: #2A1F0B;
}

/* Page */

#page {
	width: 940px;
	margin: 0 auto;
	padding: 0;
}

#page-bgtop {
	padding: 20px px;
}

#page-bgbtm {
}

/* Content */

#content {
	float: right;
	width: 620px;
	padding: 30px 0px 0px 0px;
}

.post {
	margin-bottom: 15px;
}

.post-bgtop {
}

.post-bgbtm {
}

.post .title {
	margin-bottom: 10px;
	padding: 12px 0 0 0px;
	letter-spacing: -.5px;
	color: #000000;
}

.post .title a {
	color: #A7430F;
	border: none;
}

.post .meta {
	height: 30px;
	border-bottom: 1px solid #E9E3CB;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.post .meta .date {
	float: left;
	height: 24px;
	padding: 3px 0px;
	color: #464032;
}

.post .meta .posted {
	float: right;
	height: 24px;
	padding: 3px 15px;
	background: #E9E3CB;
	color: #464032;
}

.post .meta a {
	color: #464032;
}

.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	padding-top: 20px;
	font-size: 12px;
	font-weight: bold;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 280px;
	padding: 0px;
	color: #787878;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
	border-right: 1px solid #E9E3CB;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px dotted #E5E0C6;
	margin: 0px 30px;
	border-right: none;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	padding-left: 30px;
	padding-top: 6px;
	padding-bottom: 6px;
	background: #E9E3CB;
	letter-spacing: -.5px;
	font-size: 1.8em;
	color: #464032;
}

#sidebar p {
	margin: 0 0px;
	padding: 10px 30px 20px 30px;
	text-align: justify;
}

#sidebar a {
	border: none;
	color: #464032;
}

#sidebar a:hover {
	text-decoration: underline;
	color: #8A8A8A;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer 
{
	float:left;
	left: 80%;
	top:100px;
	position: relative;
	width: 940px;
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	border-top: 4px solid #EBE6D1;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p 
{
	float:left;
	left: 100%;
	top:100px;
	position: relative;
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	color: #444444;
}

#footer a {
	color: #464032;
}

.heading
{
	text-align:center;
	font-family:Arial;
	font-style:normal;
	font-size:large;
}
.smallheading
{
	text-align:center;
	font-family:Arial;
	font-style:normal;
	font-size:larger;
}

.body_main {
    width: 140px;
    border: 0px solid #666666;
    text-align: left;
    position: absolute;
    
   
   
}


.basicbox
{
	border: medium solid Black;
        float:none;
	width: 564px;
	    margin: 0px 40% 0px 40%;
}
.navigationbox
{
	float:none;
	border-bottom-color:Black;
	border-bottom-style:solid;
	border-bottom-width:medium;
	border-left-color:Black;
	border-left-style:solid;
	border-left-width:medium;
	border-top-color:Black;
	border-top-style: solid;
	border-top-width:medium;
	border-right-color:Black;
	border-right-style:solid;
	border-right-width:medium;
	width: auto;
	margin: 0px 32% 0px 30%;

}

.DocumentListbox
{
	float:none;
	border-bottom-color:Black;
	border-bottom-style:solid;
	border-bottom-width:medium;
	border-left-color:Black;
	border-left-style:solid;
	border-left-width:medium;
	border-top-color:Black;
	border-top-style: solid;
	border-top-width:medium;
	border-right-color:Black;
	border-right-style:solid;
	border-right-width:medium;
	width: auto;
	margin: 0px 20% 0px 20%;

}

.asu_footer {
   display: block;
   height: 2em;
   top:100px;
   position:relative;
   margin: 0; padding: 0 25px 0 0;
   text-align: center;
   }
   
table {
   color: #333;
   font: 11px/15px Tahoma, Arial, Helvetica, sans-serif;
   table-layout: auto;
   width: 95%;
   }

th,
tr.header th,
tr.header td {
   border: 1px solid #ddd;
   background-color: #f0d6b2;
   padding: 4px 12px;
   color: #555;
   font-weight: bold;
   white-space: nowrap;
   text-align: left;
   }

table.form,
table.form th,
table.form td{
	border: 0px;
	padding: 2px;
    white-space: normal;
}

table.border{
	border: 2px solid #666666;
	width: auto;
	float:none;
	white-space: normal;
}

table.border th,
table.border td{
	border: 1px solid #999;
	padding: 4px 12px;

}

table.form th,
table.border th{
	font-weight: bold;
	 background-color:#FFFFFF;
     padding: 4px 12px;
	 white-space: normal;
	 
	}

table.form th.title,
table.border th.title,
table.form tr.title{
	   background-color: #E0E0E0;	
		 padding: 4px;
		  white-space: normal;
}


table.info{
	background-color: #FFD686;	
	border: 1px;
	font-size: .7em;
}
 table.clones{
	padding: 2px; 
 }
table.clones th{
	background-color: #666666;
	color:#FFFFFF;
	 padding: 4px;
}

table.clones td{
	background-color: #E2E2E2;	
	padding: 4px;
}

table.clones th a:link,
table.clones th a:visited{
	color: #FFFFFF;	
}

table.clones td a:link,
table.clones td a:visited,
h4 a:visited,
table.border th a:visited,
table.border td a:visited{
	color: #903;	
}
table.clones a:active{
	color:	#903;
	text-decoration: none;
	
}
table.clones a:hover,
table.border a:hover{
	color: #333;
	text-decoration: none;
}


td {
   border: 1px solid #ddd;
   color: #555;
   padding: 4px 12px;
    }

td.column_header {
   font-weight: bold; 
   width: 200px;  
   }

td.narrow_cell {
   text-align: center;
   width: 5%;
   white-space: nowrap;
   }
   
tr.footer td {
   background-color: #e1d1b3;
   border: 1px solid #ddd;
   padding: 4px 12px;
   }
   
   .uploadbox
{
	float:none;
	border-bottom-color:Black;
	border-bottom-style:solid;
	border-bottom-width:medium;
	border-left-color:Black;
	border-left-style:solid;
	border-left-width:medium;
	border-top-color:Black;
	border-top-style: solid;
	border-top-width:medium;
	border-right-color:Black;
	border-right-style:solid;
	border-right-width:medium;
	width: auto;
	margin: 0px 40% 0px 35%;
}